In [1]:
import pandas as pd

In [3]:
df = pd.read_json('EdilsonsProjects.AgriBot_SMS_Data.json')

In [5]:
df.head()

,_id,phone_number,submission_date,personal_info,location,farming_details,challenges,raw_responses
0,{'$oid': '67208e32af224b1d581a8805'},264818779053,{'$date': '2024-10-29T07:26:42.818Z'},"{'name': 'Edilson Zau', 'date_of_birth': '24 O...","{'region': 'Khomas', 'constituency': 'Windhoek...","{'products': ['Tomatoes', 'carrots and cabbage...",My main challenge is getting the funds for gro...,{'Are you certified by the Namibia Agronomic B...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              1 non-null      object
 1   phone_number     1 non-null      int64
 2   submission_date  1 non-null      object
 3   personal_info    1 non-null      object
 4   location         1 non-null      object
 5   farming_details  1 non-null      object
 6   challenges       1 non-null      object
 7   raw_responses    1 non-null      object
dtypes: int64(1), object(7)
memory usage: 196.0+ bytes

In [9]:
df.describe()

       phone_number
count  1.000000e+00
mean   2.648188e+11
std             NaN
min    2.648188e+11
25%    2.648188e+11
50%    2.648188e+11
75%    2.648188e+11
max    2.648188e+11